[submodule "proxectOS-UI"]
	path = proxectOSDAW-UI
	url = git@github.com:efja/proxectOSDAW-UI.git
[submodule "proxectOS-DB"]
	path = proxectOSDAW-DB
	url = git@github.com:efja/proxectOSDAW-DB.git
[submodule "proxectOS-API"]
	path = proxectOSDAW-API
	url = git@github.com:efja/proxectOSDAW-API.git
