[submodule "proxectOS-UI"]
	path = proxectOS-UI
	url = https://gitlab.iessanclemente.net/a18franciscogc/proxectos-api.git
[submodule "proxectOS-DB"]
	path = proxectOS-DB
	url = https://gitlab.iessanclemente.net/a18franciscogc/proxectos-db.git
[submodule "proxectOS-API"]
	path = proxectOS-API
	url = https://gitlab.iessanclemente.net/a18franciscogc/proxectos-api.git
